.myCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 25px;
  justify-content: space-around;
}

.matchCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}