.message-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.all-messages {
  border: solid;
  border-radius: 20px;
  background: rgba(164, 166, 168, 0.3);
  height: 80vh;
  margin: 0.5rem;
}

.inbox-nav {
  background-color: black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.opened-nav {
  background-color: black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.body-container {
  background-color: rgb(226, 224, 224);
  padding: 1rem;
  border-radius: 10px;
}

.response-container {
  background-color: rgb(226, 224, 224);
  margin-top: 10px;
  border-radius: 10px;
}

.message-box-btn {
  margin-left: 1rem;
  margin-bottom: 5px;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
}

.preview-container {
  /* border: solid 0.05px rgb(0, 0, 0, 0.5); */
  height: 90%;
  width: 100%;
  padding: 0.5rem;
  /* background: rgba(164, 166, 168, 0.3); */
}

.message-preview {
  border: solid 0.5px black;
  margin: 10px 0px;
  border-radius: 10px;
  max-height: 18%;
  text-align: start;
  padding: 5px 10px;
  margin: auto;
  width: 100%;
}

.message-body {
  max-width: 80%;
  border-radius: 10px;
  margin-left: 10px;
  text-align: start;
  background-color: whitesmoke;
}

#messageSenderName {
  font-size: 1.5rem;
}

.date-stamp {
  font-size: 0.6rem;
  text-align: end;
}

.no-open-message {

}

.opened-message {
  border: solid;
  border-radius: 20px;
  background: rgba(164, 166, 168, 0.3);
 
  height: 80vh;
}

.viewed-message {
  border: solid 0.5px black;
    border-radius: 10px;
    height: 100%;
    padding: 5px 10px;
    margin: auto;
  background: rgba(164, 166, 168, 0.3);
}

.message-body {
  font-size: 1.5rem;
  padding: 2rem;
}

.row {
  justify-content: space-between;
}
