
#lost {
  display: flex;
  border-radius: 10%;
  min-width: 25%;
}

#lostdiv,
.lostPara {
  margin: 2rem;
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.notFound {
  display: flex;
  font-weight: 900;
  font-size: x-large;
  color: white;
}

#logo {
  min-width: 10%;
}

