body {
  background-image: url(../img/test.jpg);
  background-attachment: fixed;
  font-family: sans-serif;
  background-size: cover;
}

@media (max-width: 768px) {
  /* adjust the size for screens wider than 768px */
  body {
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
  }
}

@media (min-width: 768px) {
  body {
    background-repeat: repeat;
    background-size: contain;
  }
}




