.myContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noMember {
  margin-top: 10px;
}

.login-buttons {
  background-color: grey;
  color: black;
}

form .alert-dismissible .btn-close {
  padding: 5px
  
}