.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 25%;
}

.cardBody {
  display: flex;
  justify-content: space-around;
  margin: 5px;
}

.myBtn {
  margin: 3px;
}
